:root {
    --fontColor--title--transparency: rgba(255, 255, 255, 0.8);
    --fontColor--title: #fff;
    --fontColor--episodesTitle: #100938;
    --fontColor--button: #000;
    --fontColor--white: #fff;

    --borderRadius--button: 2rem 1rem;
    --innerShadow--button: inset 5px 7px 10px rgba(0, 0, 0, 0.6);
    --backgroundColor--button: #D9D9D9;
    --backgroundColor--buttonClicked: #fff;

    --backgroundColor--gray: #D9D9D9;
    --backgroundColor--blue: #100938;
}

@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Montserrat:wght@300;400;700&display=swap');

@font-face {
    font-family: "caviar_dreams";
    src: url(../../Fonts/CaviarDreams.ttf);
}

@font-face {
    font-family: "caviar_dreams_bold";
    src: url(../../Fonts/CaviarDreams_Bold.ttf);
}

@font-face {
    font-family: "riffic_bold";
    src: url(../../Fonts/RifficFree-Bold.ttf);
}

* {
    margin: 0;
    padding: 0;
    transition: all .25s ease-in-out;
}

body {
    background-color: var(--backgroundColor--gray);
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;

    width: 100vw;
}

main {
    background: linear-gradient(180deg, #180E56 0%, #000000 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-family: 'riffic_bold';
}

h2 {
    font-family: 'riffic_bold';
}

h3 {
    font-family: 'riffic_bold';
}

.header_pageTwo {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-image: url(../assets/episode02/image_background--episodeTwo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    color: var(--fontColor--episodesTitle);

    padding: 5% 0;
}

.pageTwo_content--icon {
    clip-path: polygon(100% 50%, 0 0, 0 100%);
    cursor: pointer;
    font-size: 12rem;
}

.pageTwo_content--icon:hover {
    transform: scale(1.1);
}

.pageTwo_content--title {
    font-size: 5rem;
    font-weight: bold;
    line-height: 4.5rem;
}

.pageTwo_content--subtitle {
    font-family: 'caviar_dreams', sans-serif;
    font-size: 2.5rem;
    font-weight: 300;

    margin-bottom: 2%;
}

.main_pageTwo {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pageTwo_container--readingTip {
    align-items: flex-start;
    display: flex;
    justify-content: center;

    margin: 2% auto;
}

.container_readingTip--text {
    color: var(--fontColor--white);

    display: grid;
    gap: 2rem;
    grid-template-columns: auto;

    width: 50%;
}

.content_readingTip--title {
    align-content: center;
    display: flex;

    font-family: 'Caveat', cursive;
    font-size: 2rem;
    font-weight: 300;

    grid-column: span 1;
}

.content_readingTip--icon {
    font-size: 3rem;
    margin-left: 2%;
}

.content_readingTip--paragraph {
    font-family: 'caviar_dreams', sans-serif;
    font-size: 1.2rem;
    font-weight: 100;
    width: 80%;
}

.pageTwo_content--lowerTitle {
    color: var(--fontColor--white);


    font-size: 2rem;
    font-weight: 100;

    margin: 2% auto;

    text-align: center;

    width: 90%;
}

.pageTwo_container--interactionButtons {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content_interactionButtons--upperTitle {
    color: var(--fontColor--title);

    font-weight: 300;
    font-size: 3rem;

    margin: 1% 0;

    text-align: center;

    width: 90%;
}

.content_interactionButtons--lowerTitle {
    color: var(--fontColor--white);

    font-size: 1.5rem;
    font-weight: 100;

    margin: 1% auto;

    text-align: center;

    width: 90%;
}

.content_interactionButtons--separationBar {
    color: var(--fontColor--title);
    width: 80%;
}

.container_interactionButtons--buttons {
    align-items: center;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, auto);

    margin: 2% auto;
}

.content_interactionButtons--buttons {
    grid-column: span 1;

    background-color: var(--backgroundColor--button);

    box-shadow: inset 5px 7px 10px rgba(0, 0, 0, 0.6);
    border-radius: 2rem 1rem;
    border: none;

    cursor: pointer;

    height: 10rem;
    width: 16rem;

    transform: skew(-20deg);
}

.content_interactionButtons--iconImage {
    transform: skew(20deg);
}

.content_interactionButtons--buttons:hover {
    background-color: var(--backgroundColor--buttonClicked);
}

.container_interactionButtons--tips {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container_tips--tipOne {
    align-items: center;

    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);

    display: grid;
    grid-template-areas:
        "titleTipOne titleTipOne"
        "textTipOne buttonsTipOne"
        "textClickOneTipOne textClickTwoTipOne"
        "textClickTreeTipOne .";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);

    width: 100%;
}

.content_tipOne--upperTitle {
    color: var(--fontColor--title);

    font-weight: 300;
    font-size: 2rem;

    grid-area: titleTipOne;

    margin: 1% auto;

    text-align: center;

    width: 90%;
}

.content_tipOne--paragraph {
    color: var(--fontColor--title);

    font-family: 'caviar_dreams', sans-serif;
    font-size: 1.2rem;
    font-weight: 300;

    grid-area: textTipOne;

    margin: auto;

    width: 80%;
}

.container_tipOne--buttons {
    background-image: url(../assets/episode02/map_imagemTipOne--episodeTwo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    display: grid;

    grid-area: buttonsTipOne;

    grid-template-areas:
        "buttonOneTipOne . . ."
        ". . . ."
        ". . . buttonTwoTipOne"
        ". buttonTreeTipOne . .";

    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(4, auto);

    margin: auto;
}

.content_tipOne--button {
    cursor: pointer;

    background-color: var(--backgroundColor--blue);
    border-radius: 50%;
    border: 1rem solid var(--backgroundColor--gray);

    margin: 2rem;
    padding: 1rem;
}

.content_tipOne--buttonOne {
    grid-area: buttonOneTipOne;
}

.content_tipOne--buttonTwo {
    grid-area: buttonTwoTipOne;
}

.content_tipOne--buttonTree {
    grid-area: buttonTreeTipOne;
}

.container_tipOne--buttonOpen {
    align-items: center;
    display: flex;
    justify-content: center;
}

.content_tipOne--buttoOpen {
    background-color: var(--backgroundColor--gray);
    color: var(--fontColor--button);

    align-items: center;
    display: flex;
    justify-content: center;

    border-radius: 2rem;
    clip-path: polygon(0 5%, 100% 0%, 1000% 100%, 0 100%);


    font-size: 1rem;
    font-weight: 300;

    margin: 1% auto;

    text-align: center;

    height: 14rem;
    width: 24rem;
}

.textClickOneTipOne {
    grid-area:textClickOneTipOne ;
}

.textClickTwoTipOne {
    grid-area:textClickTwoTipOne ;
}

.textClickTreeTipOne {
    grid-area:textClickTreeTipOne ;
}

.content_tipOne--buttoOpen p {
    width: 80%;
}

.container_tips--tipTwo {
    background-image: url(../assets/episode02/backgroundImage_tipTwo--episodeTwo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: grid;

    grid-template-areas:
        "titletipTwo titletipTwo"
        "textOnetipTwo buttonstipTwo"
        "textTwotipTwo buttonstipTwo"
        "textTreetipTwo buttonstipTwo"
        "textClickOnetipTwo textClickTwotipTwo"
        "textClickTreetipTwo textClickFourtipTwo";
    grid-template-columns: repeat(2, 1fr);

    width: 100%;
}

.content_tipTwo--upperTitle {
    color: var(--fontColor--title);

    font-weight: 300;
    font-size: 2rem;

    grid-area: titletipTwo;

    margin: 1% auto;

    text-align: center;

    width: 90%;
}

.content_tipTwo--paragraph {
    color: var(--fontColor--title);

    font-family: 'caviar_dreams', sans-serif;
    font-size: 1.2rem;
    font-weight: 300;

    margin: 2% auto;

    width: 80%;
}

.textOneTipTwo {
    grid-area: textOnetipTwo;
}

.textTwoTipTwo {
    grid-area: textTwotipTwo;
}

.textTreeTipTwo {
    grid-area: textTreetipTwo;
}

.container_tipTwo--buttons {

    display: grid;

    grid-area: buttonstipTwo;

    grid-template-areas:
        ". . . buttonOnetipTwo  . ."
        "buttonTwotipTwo . . . . ."
        ". . . . buttonTreetipTwo ."
        ". . buttonFourtipTwo . . .";

    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, auto);
}

.content_tipTwo--button {
    cursor: pointer;

    background-color: var(--backgroundColor--blue);
    border-radius: 50%;
    border: 1rem solid var(--backgroundColor--gray);

    margin: 1rem;
    padding:1.6rem .5rem;
}

.content_tipTwo--buttonOne {
    grid-area: buttonOnetipTwo;
}

.content_tipTwo--buttonTwo {
    grid-area: buttonTwotipTwo;
}

.content_tipTwo--buttonTree {
    grid-area: buttonTreetipTwo;
}

.content_tipTwo--buttonFour {
    grid-area: buttonFourtipTwo;
}

.container_tipTwo--buttonOpen {
    align-items: center;
    display: flex;
    justify-content: center;
}

.textClickOneTipTwo {
    grid-area:textClickOnetipTwo ;
}

.textClickTwoTipTwo {
    grid-area:textClickTwotipTwo ;
}

.textClickTreeTipTwo {
    grid-area:textClickTreetipTwo ;
}

.textClickFourTipTwo {
    grid-area:textClickFourtipTwo ;
}

.content_tipTwo--buttoOpen {
    background-color: var(--backgroundColor--gray);
    color: var(--fontColor--button);

    align-items: center;
    display: flex;
    justify-content: center;

    border-radius: 2rem;
    clip-path: polygon(0 5%, 100% 0%, 1000% 100%, 0 100%);


    font-size: 1rem;
    font-weight: 300;

    margin: 1% auto;

    text-align: center;

    height: 14rem;
    width: 24rem;
}

.content_tipTwo--buttoOpen p {
    width: 80%;
}

.container_tips--tipTree {
    background-image: url(../assets/episode02/backgroundImage_tipTree--episodeTwo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: grid;
    grid-template-areas:
        "titleTipTree titleTipTree"
        "textTipTree textTipTree"
        "listItemOneTipTree interactionBlockTipTree"
        "listItemTwoTipTree interactionBlockTipTree";
    grid-template-columns: repeat(2, 1fr);

    padding: 5% 0;

    width: 100%;
}

.content_tipTree--upperTitle {
    color: var(--fontColor--title);

    font-weight: 300;
    font-size: 2rem;

    grid-area: titleTipTree;

    margin: 1% auto;

    text-align: center;

    width: 90%;
}

.content_tipTree--paragraph {
    color: var(--fontColor--title);

    font-family: 'caviar_dreams', sans-serif;
    font-size: 1.2rem;
    font-weight: 300;

    grid-area: textTipTree;

    margin:0 auto 2% auto;

    text-align: center;

    width: 80%;
}

.container_tipTree--list {
    margin: 2% auto;
    width: 80%;
}

.content_tipTree--item {
    color: var(--fontColor--title);

    font-family: 'caviar_dreams', sans-serif;
    font-size: 1.2rem;
    font-weight: 300;

    margin:1% auto;
}

.listItemOneTipTree {
    grid-area: listItemOneTipTree;
}

.listItemTwoTipTree {
    grid-area: listItemTwoTipTree;
}

.container_tipTree--interactionBlock {
    margin: 2% auto;
    width: 80%;
}

.container_tipTree--textBlock {
    background-color: var(--backgroundColor--blue);
    color: var(--fontColor--white);

    border-radius:  2rem 2rem 0 0;

    padding: 5%;

    text-align: center;
}

.content_tipTree--text {
    font-family: 'caviar_dreams', sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
}

.container_tipTree--buttons {
    align-items: center;
    display: grid;

    grid-template-areas:
    "buttonOneTipTree buttonTwoTipTree buttonTreeTipTree buttonFourTipTree buttonFiveTipTree buttonSixTipTree";
    grid-template-columns: repeat(6,1fr);

    justify-content: space-around;

    background-color: var(--backgroundColor--buttonClicked);
    color: var(--backgroundColor--blue);

    font-family: 'riffic_bold';
}

.content_tipTree--button {
    cursor: pointer;
    
    font-size: 1.2rem;
    
    margin: auto;
    padding: 2%;
}

.content_tipTree--buttonOne {
    grid-area: buttonOneTipTree;
}

.content_tipTree--buttonTwo {
    grid-area: buttonTwoTipTree;
}

.content_tipTree--buttonTree {
    grid-area: buttonTreeTipTree;
}

.content_tipTree--buttonFour {
    grid-area: buttonFourTipTree;
}

.content_tipTree--buttonFive {
    grid-area: buttonFiveTipTree;
}

.content_tipTree--buttonSix {
    grid-area: buttonSixTipTree;
}

.borderClickedTipTree {
    border: .2rem solid var(--backgroundColor--blue);

    align-items: center;
    display: flex;
    justify-content: center;

    width: 100%;
}

.container_tipTree--interactionTexts {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content_tipTree--interactionText {
    background-color: var(--backgroundColor--gray);
    color: var(--fontColor--button);

    border-radius: 0 0 2rem 2rem;

    font-family: 'caviar_dreams', sans-serif;
    font-size: 1.2rem;
    font-weight: 300;

    padding: 5%;

    text-align: center;
}

.textOne--tipTree {}

.textTwo--tipTree {}

.textTree--tipTree {}

.textFour--tipTree {}

.textFive--tipTree {}

.textSix--tipTree {}

.container_video--iframe {
    margin: 2% auto;

    height: 320px;
    width: 560px;
}

.container_video--iframe iframe {
    border-radius: 1rem;
}

.pageTwo_container--takingNote {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content_takingNote--lowerTitle {
    color: var(--fontColor--white);

    font-size: 2rem;
    font-weight: 100;

    margin: 2% auto;

    text-align: center;

    width: 90%;
}

.container_takingNote--imageAndText {
    align-items: center;
    display: flex;
    justify-content: center;

    margin: 2%;
}

.content_takingNote--image {
    display: block;
}

.container_takingNote--texts {
    margin-left: 2%;
}

.content_takingNote--paragraph {
    color: var(--fontColor--white);

    font-size: 2rem;
    font-weight: 100;

    margin: 2% auto;
}

.footer_pageTwo {
    background-color: #000;
}

.pageTwo_content--paragraph {
    background: radial-gradient(50% 50% at 50% 50%, rgba(217, 217, 217, 0.33) 0%, rgba(217, 217, 217, 0) 100%);
    color: var(--fontColor--title);
    font-size: 1.6rem;
    padding: 5%;
    text-align: center;
}

@media screen and (max-width:1024px) {
    .content_interactionButtons--buttons {
        height: 8rem;
        width: 12rem;
    }

    .content_interactionButtons--iconImage {
        width: 4rem;
    }
}

@media screen and (max-width:768px) {
    .content_interactionButtons--buttons {
        height: 5rem;
        width: 8rem;
    }

    .content_interactionButtons--iconImage {
        width: 2rem;
    }
}

@media screen and (max-width:425px) {
    .pageTwo_container--readingTip {
        align-items: center;
        flex-direction: column;
    }

    .container_readingTip--text {
        align-items: center;
        justify-content: center;
        margin: 2% auto;

        width: 90%;
    }

    .content_readingTip--title {
        justify-content: center;
    }

    .content_readingTip--paragraph {
        text-align: center;
        width: 100%;
    }

    .content_interactionButtons--buttons {
        height: 3rem;
        width: 5rem;
    }

    .content_interactionButtons--iconImage {
        width: 1rem;
    }

    .container_video--iframe {
        height: 250px;
        width: 350px;
    }

    .container_takingNote--imageAndText {
        flex-direction: column;
    }

    .container_takingNote--texts {
        margin-left: 0;
        text-align: center;
    }
}

@media screen and (max-width:375px) {
    .container_interactionButtons--buttons {
        gap: .5rem;
    }

    .content_interactionButtons--buttons {
        height: 2.5rem;
        width: 4rem;
    }

}

@media screen and (max-width:375px) {

    .content_takingNote--image {
        width: 300px;
    }

    .container_video--iframe {
        height: 150px;
        width: 300px;
    }
}

.buttonWidth {
    width: 0rem;
}

.buttonHeigth {
    height: 0rem;
}

.hidden {
    display: none;
}