:root {
    --fontColor--title--transparency: rgba(255, 255, 255, 0.8);
    --fontColor--title: #fff;
    --fontColor--episodesTitle: #100938;
    --fontColor--button: #000;

    --borderRadius--button: 2rem 1rem;
    --innerShadow--button: inset 5px 7px 10px rgba(0, 0, 0, 0.6);
    --backgroundColor--button: #D9D9D9;
    --backgroundColor--buttonClicked: #fff;

    --backgroundColor--gray: #D9D9D9;
}

@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Montserrat:wght@300;400;700&display=swap');

@font-face {
    font-family: "caviar_dreams";
    src: url(../../Fonts/CaviarDreams.ttf);
}

@font-face {
    font-family: "caviar_dreams_bold";
    src: url(../../Fonts/CaviarDreams_Bold.ttf);
}

@font-face {
    font-family: "riffic_bold";
    src: url(../../Fonts/RifficFree-Bold.ttf);
}

* {
    margin: 0;
    padding: 0;
    transition: all .25s ease-in-out;
}

body {
    background-color: var(--backgroundColor--gray);
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;

    width: 100vw;
}

main {
    background: linear-gradient(180deg, #180E56 0%, #000000 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-family: 'riffic_bold';
}

h2 {
    font-family: 'riffic_bold';
}

h3 {
    font-family: 'riffic_bold';
}

.hidden {
    display: none;
}

.header_pageOne {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    background-image: url(../assets/episode01/image_background--episodeOne.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    color: var(--fontColor--episodesTitle);

    padding: 5% 0;
}

.pageOne_content--icon {
    clip-path: polygon(100% 50%, 0 0, 0 100%);
    cursor: pointer;
    font-size: 12rem;
}

.pageOne_content--icon:hover {
    transform: scale(1.1);
}

.pageOne_content--title {
    font-size: 5rem;
    font-weight: bold;
    line-height: 4.5rem;
}

.pageOne_content--subtitle {
    font-family: 'caviar_dreams', sans-serif;
    font-size: 2.5rem;
    font-weight: 300;   
    
    margin-bottom: 2%;
}

.main_pageOne {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pageOne_container--introductionTexts {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
}

.content_introductionTexts--lowerTitle {
    color: var(--fontColor--title);

    font-weight: 300;
    font-size: 2rem;

    padding: 1% 0;
}

.content_introductionTexts--separationBar {
    color: var(--fontColor--title);
    width: 80%;
}

.content_introductionTexts--upperTitle {
    color: var(--fontColor--title);

    font-weight: 300;
    font-size: 3rem;

    padding: 1% 0;
}

.pageOne_container--hoverCards {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content_hoverCards--lowerTitle {
    color: var(--fontColor--title);

    font-weight: 300;
    font-size: 2rem;

    margin: 5% 0;
}

.container_hoverCards {
    align-items: center;
    display: flex;
    justify-content: center;
}

.content_hoverCards--background {
    align-items: center;
    display: flex;
    justify-content: center;
    
    background-image: url(../assets/episode01/image_card--episodeOne.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    margin-bottom: 2%;
    padding: 6%;
}

.content_hoverCards--backgroundTwo {
    align-items: center;
    display: flex;
    justify-content: center;
    
    background-image: url(../assets/episode01/image_cardTwo--episodeOne.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    margin-bottom: 2%;
    padding: 6%;
}

.content_hoverCards--text {
    color: var(--fontColor--episodesTitle);

    font-family: 'Caveat', cursive;
    font-size: 1.2rem;

    opacity: 0;
    text-align: center;

    width: 50%;
}

.content_hoverCards--background:hover .content_hoverCards--text {
    opacity: 1;
}

.content_hoverCards--backgroundTwo:hover .content_hoverCards--text {
    opacity: 1;
}

.container_video--iframe {
    margin: 2% auto;

    height: 320px;
    width: 560px;
}

.container_video--iframe iframe {
    border-radius: 1rem;
}

.footer_pageOne {
    background-color: #000;
}

.pageOne_content--paragraph {
    background: radial-gradient(50% 50% at 50% 50%, rgba(217, 217, 217, 0.33) 0%, rgba(217, 217, 217, 0) 100%);
    color: var(--fontColor--title);
    font-size: 1.6rem;
    padding: 5%;
    text-align: center;
}