:root {
    --fontColor--title--transparency: rgba(255, 255, 255, 0.8);
    --fontColor--title: #fff;
    --fontColor--button: #000;

    --borderRadius--button: 2rem 1rem;
    --innerShadow--button: inset 5px 7px 10px rgba(0, 0, 0, 0.6);
    --backgroundColor--button: #D9D9D9;
    --backgroundColor--buttonClicked: #fff;
}

@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Montserrat:wght@300;400;700&display=swap');

@font-face {
    font-family: "caviar_dreams";
    src: url(../../Fonts/CaviarDreams.ttf);
}

@font-face {
    font-family: "caviar_dreams_bold";
    src: url(../../Fonts/CaviarDreams_Bold.ttf);
}

@font-face {
    font-family: "riffic_bold";
    src: url(../../Fonts/RifficFree-Bold.ttf);
}

* {

    margin: 0;
    padding: 0;
    transition: all .25s ease-in-out;
}

html {
    background: linear-gradient(180deg, #180E56 0%, #000000 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;

    width: 100vw;
}

h1 {
    font-family: 'riffic_bold';
}

h2 {
    font-family: 'riffic_bold';
}

h3 {
    font-family: 'riffic_bold';
}


.body_background--image {
    background-image: url(../assets/image_background_launchPage.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header_menuPage {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 1% 0;
}

.menuPage_content--title {
    font-size: 6rem;
    font-weight: bold;
    letter-spacing: 0.5rem;

    color: var(--fontColor--title--transparency);

    text-align: center;

    width: 90%;
}

.menuPage_content--subtitle {
    font-family: 'caviar_dreams', sans-serif;
    font-size: 2.5rem;
    font-weight: 300;

    color: var(--fontColor--title--transparency);

    margin-left: 10%;

    text-align: center;

    width: 90%;
}

.menuPage_content--subtitleStrong {
    font-family: 'riffic_bold';
    font-size: 3rem;
    font-weight: bold;

    text-align: center;

    width: 90%;
}

.main_menuPage {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menuPage_container--navButtons {
    align-items: center;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: auto auto;

    margin: 2%;
}

.content_navButtons--Button {
    grid-column: span 1;

    background-color: var(--backgroundColor--button);

    box-shadow: inset 5px 7px 10px rgba(0, 0, 0, 0.6);
    border-radius: 2rem 1rem;
    border: none;

    cursor: pointer;

    margin: .5rem 1rem;

    height: 18rem;
    width: 20rem;

    transform: skew(-20deg);
}

.content_navButtons--Button p {
    color: var(--fontColor--button);

    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;

    transform: skew(20deg);
}

.content_navButtons--Button:hover {
    background-color: var(--backgroundColor--buttonClicked);

}

.menuPage_content--image {
    margin: 2rem 0;
}

.iframe_course {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

.menuPage_container--navButtonsCourse {
    align-items: center;
    display: flex;
    justify-content: space-around;

    background-color: #000000;
}

.nav_buttons--main {
    background-color: var(--backgroundColor--button);
    color: #180E56;

    border: none;
    border-radius: var(--borderRadius--button);
    box-shadow: var(--innerShadow--button);

    cursor: pointer;

    font-size: 1.6rem;
    font-weight: bold;

    margin: 2%;
    padding: 2%;

    transform: skew(-20deg);

    width: 18rem;
}

.nav_buttons--main p {
    transform: skew(20deg);
}

.nav_buttons--main:hover {
    background-color: var(--backgroundColor--buttonClicked);
}

.hidden {
    display: none;
}

@media screen and (max-width:768px) {
    .content_navButtons--Button {
        height: 14rem;
        width: 16rem;
    }

    .content_navButtons--Button p {
        font-size: 1.6rem;
    }
}

@media screen and (max-width:425px) {
    .menuPage_content--title {
        font-size: 3rem;

        text-align: center;
    }

    .menuPage_content--subtitle {
        font-size: 1.5rem;
        margin-left: 0;

        text-align: center;
    }

    .menuPage_content--subtitleStrong {
        font-size: 2rem;

        text-align: center;
    }

    .menuPage_container--navButtons {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .menuPage_container--navButtonsCourse {
        flex-direction: column;
    }
}

@media screen and (max-width:375px) {
    .menuPage_content--title {
        font-size: 2.5rem;
    }
}

@media screen and (max-width:320px) {
    .menuPage_content--title {
        font-size: 2rem;
    }

    .menuPage_content--subtitle {
        font-size: 1rem;
    }

    .menuPage_content--subtitleStrong {
        font-size: 1.5rem;
    }

    .content_navButtons--Button {
        height: 10rem;
        width: 12rem;
    }

    .content_navButtons--Button p {
        font-size: 1.2rem;
    }
}